.content-side-nav{

  h2{
    text-align: center;
  }
  .side_nav_card{

    background: #303030;
    margin: 3%;

    .list_table_btn{

      color: gray;
      font-size: 5px;
      padding-top: 0;
      padding-bottom: 0;
    }
    .add_button{

      text-align: center;
    }
  }
}
