<div class="content-side-nav">
  <mat-card class="side_nav_card">
    <mat-card-content>
      <h2>BDD LIST</h2>
      <mat-action-list>
        <button mat-list-item>BDD 1</button>
        <mat-divider></mat-divider>
        <button mat-list-item>BDD 2</button>
      </mat-action-list>
      <div class="add_button">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
